.home_section{
    background-color: var(--bg);
    height: 100vh;
  
    padding: 110px 120px;
}
.two_home_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.two_home_div .right_home img{
  width: 440px;
  height: 440px;
 
}
.two_home_div .left_home h1{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.two_home_div .left_home .headimg{
    font-size: 2rem;
    font-weight: 600;
    color: black;

}
.two_home_div .left_home h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(69, 67, 67);
}
.two_home_div .left_home .github{
  
    font-size: 2rem;
}
.two_home_div .left_home .linkedin{
    font-size: 2rem;
}
.two_home_div .left_home .gmail{
    font-size: 2rem;
  
    
}
.two_home_div .left_home .hardik{
    color: red;
}
.two_home_div .left_home button{
    background-color: transparent;
    color: black;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 8px;
    transition: all .3s ease;
    font-weight: 500;
}
.two_home_div .left_home button:hover{
    color: white;
    background-color: black;
}
@media (max-width:1200px) {
    .home_section{
        padding: 50px 80px;
    }
    .two_home_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    .two_home_div .left_home h1{
        font-size: 2.6rem;
       
    }
}
@media (max-width:1124px) {
    .home_section{
        padding: 50px 60px;
    }
    .two_home_div .left_home h1{
        font-size: 2.6rem;
       
    }
    .two_home_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
}
@media (max-width:1024px){
    .two_home_div .left_home p{
        margin-top: -20px;
        font-weight: 600;
        font-size: 0.4rem;
    }
    .two_home_div .left_home .headimg{
        font-size: 1.6rem;
        font-weight: 600;
    
    }
    .two_home_div .right_home img{
        width: 460px;
        height: 460px;
      }
}
@media (max-width:780px){
    .two_home_div .right_home img{
        width: 350px;
        height: 350px;
      }
      .home_section{
        padding: 50px 40px;
    }
    .two_home_div .left_home h1{
        font-size: 2rem;
       
    }
    .two_home_div .left_home .headimg{
        font-size: 1.4rem;
        font-weight: 600;
    
    }
}
@media (max-width:620px){
    .two_home_div{
       
        display: block;
        justify-content: space-between;
        align-items: center;
      
    }
    .two_home_div{
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .two_home_div .right_home img{
        width: 350px;
        height: 350px;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .two_home_div .right_home {
          justify-content: center;
          display: flex;
          align-items: center;
          text-align: center;
      }
      .two_home_div .left_home h1 ,h3 ,h2{
          text-align: center;
       
          justify-content: center;
          align-items: center;
      }
      .two_home_div .left_home h1{
          margin-top: 25px;
      }
      .two_home_div .left_home h3{
        margin-top: 15px;
    }
    .two_home_div .left_home{
      
       text-align: center;
        justify-content: center;
        text-align: center;
    }
}